WebContent/wsdl/DAOGender.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dao" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dao" xmlns:intf="http://dao" xmlns:tns1="http://modelos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://dao" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modelos"/>
   <element name="remove">
    <complexType>
     <sequence>
      <element name="gender" type="tns1:MODGender"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeResponse">
    <complexType/>
   </element>
   <element name="get">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResponse">
    <complexType>
     <sequence>
      <element name="getReturn" type="tns1:MODGender"/>
     </sequence>
    </complexType>
   </element>
   <element name="list">
    <complexType/>
   </element>
   <element name="listResponse">
    <complexType>
     <sequence>
      <element name="listReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="save">
    <complexType>
     <sequence>
      <element name="gender" type="tns1:MODGender"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveResponse">
    <complexType/>
   </element>
   <element name="update">
    <complexType>
     <sequence>
      <element name="gender" type="tns1:MODGender"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modelos" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dao"/>
   <complexType name="MODGender">
    <sequence>
     <element name="codGender" type="xsd:int"/>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="saveRequest">

      <wsdl:part element="impl:save" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRequest">

      <wsdl:part element="impl:get" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeRequest">

      <wsdl:part element="impl:remove" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part element="impl:listResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getResponse">

      <wsdl:part element="impl:getResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveResponse">

      <wsdl:part element="impl:saveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeResponse">

      <wsdl:part element="impl:removeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part element="impl:list" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DAOGender">

      <wsdl:operation name="remove">

         <wsdl:input message="impl:removeRequest" name="removeRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeResponse" name="removeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="get">

         <wsdl:input message="impl:getRequest" name="getRequest">

       </wsdl:input>

         <wsdl:output message="impl:getResponse" name="getResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdl:input message="impl:listRequest" name="listRequest">

       </wsdl:input>

         <wsdl:output message="impl:listResponse" name="listResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="save">

         <wsdl:input message="impl:saveRequest" name="saveRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveResponse" name="saveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DAOGenderSoapBinding" type="impl:DAOGender">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="remove">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="get">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="save">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DAOGenderService">

      <wsdl:port binding="impl:DAOGenderSoapBinding" name="DAOGender">

         <wsdlsoap:address location="http://localhost:8080/site/services/DAOGender"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
